html, body {
    font-family: 'Roboto', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #121212; /* Dark background for dark mode */
    color: #ffffff; /* White text color */
}

header, footer {
    background-color: #181818; /* Slightly lighter dark shade for contrast */
    color: #ffffff; /* White text color */
    padding: 20px;
    text-align: center;
}

main {
    padding: 40px;
    margin: 0 auto; /* Centers the main content and adds automatic margins on both sides */
}

h1 {
    font-size: 36px; /* Larger font size for main title */
    margin-bottom: 20px; /* More space below the title */
}

/* Increasing font size for session names and titles */
h2, h3 {
    font-size: 28px; /* Larger font size for titles */
    font-weight: bold; /* Bold font style for emphasis */
    color: #ffffff; /* Using orange for title highlights */
}

.form-section, .sessions {
    background: #2c2c2c; /* Dark background for sections */
    color: #ffffff; /* White text color */
    padding: 20px;
    margin-bottom: 20px;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0,0,0,0.3); /* Slightly darker shadow for depth */
}

.form-group label {
    color: #ffffff; /* White text color for labels */
}

input[type="text"], input[type="number"], input[type="date"] {
    background: #333333; /* Dark input backgrounds */
    color: #ffffff; /* White text for inputs */
    border: 1px solid #444444; /* Darker border for inputs */
    padding: 10px;
    border-radius: 4px;
    width: 100%;
}

.btn, .upload-btn, .complete-btn, .home-link, .start-session-btn {
    background-color: #FFA500; /* Orange background for buttons */
    color: #ffffff; /* White text for buttons */
    border: none;
    padding: 10px 20px;
    border-radius: 4px;
    cursor: pointer;
    text-transform: uppercase;
    letter-spacing: 1px;
}

.delete-btn, .delete-session-btn {
    background-color: #FF0000; /* Orange background for buttons */
    color: #ffffff; /* White text for buttons */
    border: none;
    padding: 10px 20px;
    border-radius: 4px;
    cursor: pointer;
    text-transform: uppercase;
    letter-spacing: 1px;
}

.start-session-btn, .delete-session-btn {
    padding: 8px 16px; /* Ensure consistent padding */
    font-size: 14px; /* Matching font size */
    width: auto; /* Adjust width as necessary */
    margin: 0 5px; /* Consistent margin for inline display */
}

.btn:hover, .upload-btn:hover, .complete-btn:hover, .home-link:hover, .start-session-btn:hover {
    background-color: #ff8c00; /* Darker orange on hover */
}

.delete-btn:hover, .delete-session-btn:hover {
    background-color: #b32020; /* Darker red on hover */
}

ul {
    list-style-type: none;
    padding: 0;
}

li {
    background: #333333; /* Dark background for list items */
    color: #ffffff; /* White text for list items */
    padding: 10px;
    border-radius: 5px;
    box-shadow: 0 1px 3px rgba(0,0,0,0.3);
}

article {
    margin-bottom: 20px;
}


@media (max-width: 768px) {
    header, footer {
        padding: 10px;
    }

    main, .form-section, .sessions {
        padding: 10px;
    }

    input[type="text"], input[type="number"], input[type="date"], .btn {
        width: 100%;
    }
}

