<!DOCTYPE html>
<html lang="en">
<head>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap" rel="stylesheet">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Workout Session: {{ session_title }}</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='styles.css') }}">
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script>
        var intervals = {}; // Store intervals using their indexes and set numbers as keys
        var setCounts = {}; // Store count of sets completed for each workout
        
        function startTimer(duration, index, setNumber) {
            var timerId = index + '-' + setNumber;
            var display = document.getElementById('timer' + timerId);
            var button = document.getElementById('complete-btn' + timerId);
            if (intervals[timerId]) {
                clearInterval(intervals[timerId]); // Clear existing timer if any
            }
            var seconds = duration;
            intervals[timerId] = setInterval(function () {
                var minutes = parseInt(seconds / 60, 10);
                var remainingSeconds = parseInt(seconds % 60, 10);
    
                minutes = minutes < 10 ? "0" + minutes : minutes;
                remainingSeconds = remainingSeconds < 10 ? "0" + remainingSeconds : remainingSeconds;
    
                display.textContent = minutes + ":" + remainingSeconds;
    
                if (--seconds < 0) {
                    clearInterval(intervals[timerId]);
                    display.textContent = "Rest over!";
                    button.disabled = false; // Re-enable the button
                }
            }, 1000);
        }
        
        function completeSet(button, index, setNumber) {
            var weightId = 'weight' + index + '-' + setNumber;
            var restId = 'rest' + index + '-' + setNumber;
            var weight = document.getElementById(weightId).value;
            var restPeriod = document.getElementById(restId).value;
            
            if (restPeriod && weight) {
                alert('Completed set with ' + weight + 'lbs');
                startTimer(parseInt(restPeriod), index, setNumber);
                button.disabled = true; // Disable button during the rest period
            } else {
                console.error("Error: Missing elements or values.");
            }
        }
    </script>    
</head>
<body>
    <header>
        <h1>Workout Session: {{ session_title }}</h1>
    </header>
    <main>
        <section class="workouts">
            {% for workout in workouts %}
                <div class="workout" data-index="{{ loop.index }}" id="workout{{ loop.index }}">
                    <h2><strong>{{ workout.exercise }}:</strong> Sets: {{ workout.sets }} | Reps: {{ workout.reps }} | Rest: {{ workout.rest }}s</h2>
                    <div class="sets-container">
                        {% for i in range(workout.sets) %}
                            <div class="set" id="set{{ loop.index0 }}">
                                <input type="number" id="weight{{ loop.index }}-{{ loop.index0 }}" class="weight-input" placeholder="Enter weight for set {{ loop.index0 + 1 }}">
                                <input type="number" id="weight{{ loop.index }}-{{ loop.index0 }}" class="weight-input" placeholder="Enter reps for set {{ loop.index0 + 1 }}">
                                <input type="number" id="rest{{ loop.index }}-{{ loop.index0 }}" class="rest-input" value="{{ workout.rest }}" hidden>
                                <button onclick="completeSet(this, '{{ loop.index }}', '{{ loop.index0 }}')" id="complete-btn{{ loop.index }}-{{ loop.index0 }}" class="complete-btn">Complete Set</button>
                                <div id="timer{{ loop.index }}-{{ loop.index0 }}" class="timer">Rest Timer: 00:00</div>
                            </div>
                        {% endfor %}
                    </div>
                </div>
            {% endfor %}
        </section>
    </main>
    <footer>
        <a href="{{ url_for('home') }}" class="home-link">Return to Home</a>
        <p>Created by <a href="https://github.com/zhangmatt" target="_blank">Matthew Zhang</a></p>
    </footer>
</body>
</html>
